{
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"react",
		"jest"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaVersion": 2018
	},
	"rules": {
		"indent": "off",
		"no-tabs": "off",
		"@typescript-eslint/indent": ["error", "tab"],
		"@typescript-eslint/no-use-before-define": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"import/no-unresolved": "off",
		"react/prop-types": "off",
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/display-name": "off",
		"max-len": "off",
		"no-confusing-arrow": "off",
		"no-plusplus": "off",
		"no-console": 1
	},
	"env": {
		"es6": true,
		"browser": true,
		"jest": true,
		"jest/globals": true
	},
	"globals": {
		"page": true,
    "browser": true,
    "context": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
