.bookmark {
	/* Needs to be kept in sync */
	--controls-num-items: 2;

	position: relative;
	padding: var(--sizing);
	border-top: 1px solid var(--offset-bg);
	cursor: pointer;
}

.bookmark:hover,
.bookmark--focused {
	background: var(--offset-bg);
}

.bookmark:last-child {
	border-bottom: 1px solid var(--offset-bg);
}

.controls {
	opacity: 0;
	float: right;
}

.edit {
	margin: 0 calc(var(--sizing) / 2) 0 0;
}

.edit,
.delete {
	position: static !important;
	float: left;
}

.tooltip {
	/* 4px is roughly half the difference in height between tooltip and icon btns */
	top: calc(var(--sizing) - 2px) !important;
	transform: none !important;
	left: initial;
	right: calc((var(--sizing) * 2.5) + (var(--btn-icon-size) * var(--controls-num-items))) !important;
}

.bookmark:hover .controls {
	opacity: 1;
}

.name {
	display: inline-block;
	margin: 0 0 calc(var(--sizing) / 3);
	font-size: 14px;
	font-weight: normal;
	color: var(--text-color);
}

.tags {
	display: inline-block;
	padding: 0;
}

.desc {
	margin: 0 0 calc(var(--sizing) / 3);
	font-size: 11px;
}

.url {
	margin: 0;
	font-size: 10px;
	font-weight: normal;
	color: var(--offset-text-color);
}
