@import 'sanitize.css';

html {
    --border-radius: 3px;

    --bg-color: white;
    --bg-color-offset: #eee;
    --bg-color-offset-offset: #ddd;

    --text-color: #282828;
    --text-color-offset: #888;

    font-size: 62.5%;
}

html.theme-dark {
    --bg-color: #282828;
    --bg-color-offset: #383838;
    --bg-color-offset-offset: #484848;

    --text-color: #eee;
}

body {
    max-width: 100%;
    width: 500px;
    min-height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    font-family: sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

button {
    padding: .5rem 1rem;
	border: 1px solid var(--bg-color-offset);
	border-radius: var(--border-radius);
	font-size: 100%;
	background: var(--bg-color-offset);
	color: var(--text-color);
	user-select: none;
	transition: background-color .2s;
}

button,
button:focus {
    /* Has to be !important to override Firefox default */
    outline: none !important;
}

button:disabled {
	opacity: .25;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
    background-color: var(--bg-color-offset-offset);
}

button:not(:disabled):active {
    transform: translateY(2px);
}

button[data-type="icon"] {
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

button[data-type="icon"] svg {
    /* Override Sanitize for Feather icons */
    fill: none !important;
}

.badge {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: transparent;
}

.badge--primary {
    background-color: #4286f4;
}

.badge--secondary {
    background-color: #a0c4ff;
}

.onboarding-wrapper {
    padding: 4rem 2rem;
    text-align: center;
}

.onboarding-heading {
    margin: 0;
    font-size: 2.6rem;
}

.onboarding-subheading {
    font-size: 1.75rem;
}

.onboarding-hero {
    width: 55px;
    display: block;
    margin: 4rem auto;
}

.onboarding-selection-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1.75rem 0;
}

.bm {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0; /* For .bmlet-graphic */
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.bm:hover,
.bm--focused {
    background: #eee;
}

.bm + .bm {
    position: relative;
    margin-top: 1px;
}

.bm + .bm::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #eee;
}


.bm:hover .bm-ctrls {
    opacity: 1;
}

.bm-ctrls {
    display: flex;
    position: relative;
    white-space: nowrap;
    align-self: flex-start;
    opacity: 0;
    margin: 0 0 0 1rem;
}

.bmlet-graphic {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    transform-origin: right;
    z-index: -1;
    font-size: 2rem;
    color: #eee;
}

.bmlet-graphic--focused,
.bm:hover .bmlet-graphic {
    transform: translateY(-50%) scale(2);
    color: #ccc;
}

.bm-tags {
    display: inline;
    padding: 0;
}

.bm-spaced-badge {
    margin: 0 .5rem 0 0;
}

.bm-name {
    display: inline-block;
	margin: 0;
	font-size: 1.4rem;
	font-weight: normal;
    color: #282828;
}

.bm-desc {
    margin: .3rem 0;
    font-size: 1.1rem;
}

.bm-url {
    margin: .3rem 0 0;
    font-size: 1rem;
    font-weight: normal;
    color: #888;
}

.bm-ctrl-btn:not(:last-child) {
    margin-right: .5rem;
}

.bm-ctrl-btn-tooltip {
    position: absolute;
    top: 50%;
    right: calc(100% + .5rem);
    transform: translateY(-50%);
}

