@import 'sanitize.css';

html {
    --border-radius: 3px;

    --bg-color: white;
    --bg-color-offset: #eee;
    --bg-color-offset-offset: #ddd;

    --text-color: #282828;
    --text-color-offset: #888;

    font-size: 62.5%;
}

html.theme-dark {
    --bg-color: #282828;
    --bg-color-offset: #383838;
    --bg-color-offset-offset: #484848;

    --text-color: #eee;
}

body {
    max-width: 100%;
    width: 500px;
    min-height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    font-family: sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

.badge {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: transparent;
}

.badge--primary {
    background-color: #4286f4;
}

.badge--secondary {
    background-color: #a0c4ff;
}

.onboarding-wrapper {
    padding: 4rem 2rem;
    text-align: center;
}

.onboarding-heading {
    margin: 0;
    font-size: 2.6rem;
}

.onboarding-subheading {
    font-size: 1.75rem;
}

.onboarding-hero {
    width: 55px;
    display: block;
    margin: 4rem auto;
}

.onboarding-selection-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1.75rem 0;
}

