extends ../templates/base

block content
	.wrapper.wrapper--page
		header: h1 Bukubrow &mdash; Options

		main: form.js-form
			div
				label(for='theme') Theme:
				select(name='theme').js-form__theme
					option(value='light') Light
					option(value='dark') Dark
			button(type='submit').btn.js-form__submit-btn Save

		include ../templates/components/footer
