<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Bukubrow Simulator</title>

		<style>
			body {
				width: 100vw;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				background: #666666;
			}

			iframe {
				border: none;
			}
		</style>
	</head>

	<body>
		<script>
			// Inject iframe to allow passing through querystring params
			const iframe = document.createElement('iframe');
			iframe.src = '/content/content.build.html' + window.location.search;
			iframe.width = 500;
			iframe.height = 675;

			document.body.appendChild(iframe);
		</script>
	</body>
</html>
