body {
	font-size: 75%;
}

:root {
	--header-items-margin: 10px;
	--header-items-size: 25px;
}

.content {
	min-height: 300px; /* For bookmark form in cases where there are not yet any bookmarks */
	padding: var(--header-height) 0 0;
}
