.wrapper {
	width: calc(100% - (var(--sizing) * 2));
	position: fixed;
	z-index: 1;
	bottom: var(--sizing);
	left: var(--sizing);
	transform: translateY(calc(100% + var(--sizing)));
	padding: var(--sizing);
	font-size: 14px;
	border-radius: 2px;
	opacity: 0;
	background: #FFC0CB;
	color: #333;
	transition: all .25s;
}

.wrapper--visible {
	transform: translateY(0);
	opacity: 1;
}
