doctype html
html
	head
		meta(charset='utf-8')
		title Bukubrow

	body.wrapper
		.error-popup.js-error

		header.controls.u-clearfix
			form.js-search
				input(type='text', name='search', autocomplete='off', placeholder='Search...', disabled).controls__search
			button(type='button').btn.btn--no-padding.controls__refresh.js-req
				include ../assets/refresh.svg

		main: .js-bookmarks

		footer.footer
			| Made with&nbsp;
			span.footer--heart &hearts;
			| &nbsp;by the open source community
