body {
	font-size: 75%;
}

:root {
	--header-items-margin: 10px;
	--header-items-size: 25px;
	/* This must be kept in sync with the number of header buttons/items */
	--heading-num-items: 3;
}

.content {
	padding: var(--header-height) 0 0;
}

.bookmarks {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
