.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 calc(var(--sizing) * 2);
}

.heading {
	display: inline-block;
	margin: 0;
	font-size: 20px;
}

.exit svg {
	transform: rotate(45deg);
}

.tag-input-wrapper {
	display: flex;
	align-items: last baseline;
	margin: var(--sizing) 0 0;
}

.tag-btn {
	margin: 0 0 0 var(--sizing);
}

.tags {
	margin: calc(var(--sizing) / 2) 0 0;
	padding: 0;
	list-style: none;
}

.btn {
	margin: calc(var(--sizing) * 2) 0 0;
}
