@import 'sanitize.css';

:global :root {
	--sizing: 12px;
	--border-radius: 3px;
	--offset-text-color: #888;
}

:global body {
	--bg: white;
	--offset-bg: #eee;
	--offset-bg-offset: #ddd;
	--text-color: #282828;
	max-width: 100%;
	width: 500px;
	min-height: 100vh;
	margin: 0;
	font-size: 100%;
	font-family: sans-serif;
	background: var(--bg);
	color: var(--text-color)
}

:global body.dark {
	--bg: #282828;
	--offset-bg: #383838;
	--offset-bg-offset: #484848;
	--text-color: #eee;
}

:global .u-clearfix::after {
	content: '';
	display: table;
	clear: both;
}

:global *,
:global *::before,
:global *::after {
	box-sizing: border-box;
}
