body {
	font-size: 75%;
}

:root {
	--header-items-margin: 10px;
	--header-items-size: 25px;
}

.controls {
	padding: var(--sizing);
}

.controls__search,
.controls__refresh {
	float: left;
	border-radius: var(--border-radius);
}

.dark .controls__search,
.dark .controls__refresh {
	color: white;
}

.controls__search {
	width: calc(100% - var(--header-items-margin) - var(--header-items-size));
	height: var(--header-items-size);
	margin: 0 var(--header-items-margin) 0 0;
	padding: 0 var(--header-items-margin);
}

.controls__refresh {
	width: var(--header-items-size);
	height: var(--header-items-size);
	line-height: 100%;
	font-size: 16px;
	font-weight: bold;
}

.tutorial-msg {
	margin: 0;
	padding: var(--sizing);
}

.bookmarks {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bookmarks__item {
	--dimmed-text-color: #ccc;

	padding: var(--sizing);
	cursor: pointer;
}

.dark .bookmarks__item {
	--dimmed-text-color: #888;
}

.bookmarks__item:hover,
.bookmarks__item--focused {
	background: var(--offset-bg);
}

.bookmarks__item + .bookmarks__item {
	border-top: 1px solid var(--offset-bg);
}

.bookmarks__item-name {
	display: inline-block;
	margin: 0 0 calc(var(--sizing) / 3);
	font-size: 14px;
	font-weight: normal;
}

.bookmarks__item-tags {
	display: inline-block;
	padding: 0;
}

.bookmarks__item-tag {
	display: inline-block;
	margin: 0;
	font-size: 13px;
	font-weight: normal;
	color: var(--dimmed-text-color);
}

.bookmarks__item-tag:not(:last-child) {
	margin-right: 5px;
}

.bookmarks__item-desc {
	margin: 0 0 calc(var(--sizing) / 3);
	font-size: 11px;
}

.bookmarks__item-url {
	margin: 0;
	font-size: 10px;
	font-weight: normal;
	color: var(--dimmed-text-color);
}
