.wrapper {
	width: 100%;
}

.wrapper + .wrapper {
	margin-top: var(--sizing);
}

.header {
	display: flex;
	justify-content: space-between;
}

.label {
	margin: 0 0 calc(var(--sizing) / 2);
}

.counter {
	font-size: 13px;
	font-weight: 900;
	color: #989898;
}

.counter--alert {
	color: #ec1d26;
}

.input {
	width: 100%;
	padding: calc(var(--sizing) / 2) var(--sizing);
	border: 1px solid var(--offset-bg);
	border-radius: var(--border-radius);
	border-radius: 3px;
	background: none;
	color: var(--text-color);
}

.input::placeholder {
	color: #9d9da3;
}

.input:focus {
	outline: none;
	border-color: var(--offset-bg-offset);
}

.input:disabled {
	opacity: .25;
	font-style: italic;
}
