{
	"parser": "babel-eslint",
	"extends": [
		"standard"
	],
	"env": {
		"es6": true,
		"webextensions": true
	},
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off"
	}
}
